<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092560417317-e2t0fls8snab9mavj2s0p464bfl28ukp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092560417317-e2t0fls8snab9mavj2s0p464bfl28ukp</string>
	<key>API_KEY</key>
	<string>AIzaSyDlBR-LkMVlWA129eDBEis9JcS3PR_Xshw</string>
	<key>GCM_SENDER_ID</key>
	<string>1092560417317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moscd.rn.example.GCRNProjectSem2</string>
	<key>PROJECT_ID</key>
	<string>gcdemoproject</string>
	<key>STORAGE_BUCKET</key>
	<string>gcdemoproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092560417317:ios:5010c01f95ff915aa305cc</string>
</dict>
</plist>